body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    line-height: 1.5;}

html {
    display: block; }

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
	display: block;}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
	display: block; }


#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden; }

ul {
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item; }

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
	display: block;
}

body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    line-height: 1.5;
}
#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%; }

header{
background-color:lightpink;
border: 2px double black; 
border-radius: 5px;
}



@media(max-width:768px) {
    body{   background-color: orange;
    }
    header{
        background-color: lightgray;}
        p{ 
        color: black;
        }
      
 
}